body {
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
    justify-content: space-between;

}

div {
    display: flex;
}

#lado {
    background-color: grey;
    width: 80%;
}

#meio {
    background-color: white;
    width: 80%;
    align-items: center;
}
#outro-lado {
    background-color: grey;
    width: 80%;

}